body {
	margin:0;
	padding:0;
	background: #232323;
}

.square {
	width: 30%;
	background: purple;
	float:left;
	padding-top: 30%;
	margin:1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	color: white;
	font-weight: bold;
	text-align: center;
}

span {
	color: white;
}
